@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;600&family=Overlock+SC&family=Overlock:wght@700;900&family=Passero+One&family=Poppins:wght@300;400;600&display=swap');
$clr-primary-black: #3B454E;
$clr-secondary-black: #5C6975;
$clr-primary-grey: #8899A8;
$clr-secondary-grey: #D3DCE4;
$clr-primary-white: #ECEFF1;
$clr-secondary-white: #F5F7F9;
$clr-fff-white: #FFFFFF;
$clr-primary-blue: #3884FF;
$w-font-size: 16px;
$w-font-family: 'Poppins',
sans-serif;
$w-font-family-thai: 'Noto Sans Thai',
sans-serif;
$w-fw-600: 600;
$w-fw-400: 400;
$w-fw-300: 300;
$w-font-semi-bold: $w-fw-600;
$w-font-regular: $w-fw-400;
$w-font-light: $w-fw-300;


.shadow-top {
    box-shadow: inset 0px 5px 10px -7px rgba(0, 0, 0, 0.25);
}

.shadow-right {
    box-shadow: 1px 0px 0px #E5E5E5;
}