@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;600&family=Overlock+SC&family=Overlock:wght@700;900&family=Passero+One&family=Poppins:wght@300;400;600&display=swap');
$m-font-family-passero-one: 'Passero One', sans-serif;
$m-font-family-overlock: 'Overlock', sans-serif;
$m-font-family-overlock-sc: 'Overlock SC', sans-serif;
$m-font-family-thai: 'Noto Sans Thai', sans-serif;
$m-fw-400: 400;
$m-fw-700: 700;
$m-fw-900: 900;
$m-font-semi-bold: $m-fw-900;
$m-font-regular: $m-fw-700;
$m-font-light: $m-fw-400;